node_modules/
.env
package-lock.json

# Build Output
dist/
generated/
coverage/

# Prisma
/prisma/generated/
/prisma/migrations/dev.db
/dev.db
*.db-journal

# Logs
npm-debug.log*
*.log

# Editor & OS
.DS_Store
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo

# Temporary
.tmp/
.cache/
